body{
    background-color: aqua;
}
h1{
    color: goldenrod;
}
h1:hover{
    color: indianred;
    background-color: black;
    font-size: 40px;
}

.P:hover{
    background-color: aliceblue;
    font-style: italic;
    font-size: 40px;
}
input:focus{
    font-size: 20px;
    color: blueviolet;
}
li:first-child{
    background-color: rebeccapurple;
}
li:last-child{
    background-color: red;
}
li:nth-child(2n){
    background-color: aquamarine;
}
a:visited{
    color: blue;
    background-color: red;
}